<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="nav-dash navbar navbar-dark navbar-expand-sm box-shadow">
            <div class="container contain-nav">
                <h5>
                    <a class="navbar-dash-brand" asp-area="Dashboard" asp-page="/Index">Tamito</a>
                </h5>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <!--<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </nav>
    </header>

        <div class="sidebar">
            <a is-active-route class="nav-item" page-family="/Dashboard" asp-area="Dashboard" asp-page="/Index">Dashboard</a>
            <a is-active-route class="nav-item" page-family="/Dashboard/Projects" asp-area="Dashboard" asp-page="/Projects/Index">My Projects</a>
            <a is-active-route class="nav-item" page-family="/Dashboard/Tickets" asp-area="Dashboard" asp-page="/Tickets/Index">My Tickets</a>
            <a is-active-route class="nav-item" page-family="/Identity/Account/Manage" asp-area="Identity" asp-page="/Account/Manage/Index">Profile Settings</a>
            <!--<a is-active-route href="#Manage Users">Manage Users</a>
            <a is-active-route href="#Manage Profile">Profile Settings</a>-->
        </div>

        <div class="content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    
    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BugTracker - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
